 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 205px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.5rem;
  width: 691px;
  margin: 17px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 654px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.125rem;
    margin-top: 24px;
    margin-bottom: 53px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 262px;
}

.u-section-2 .u-text-1 {
  width: 823px;
  margin: 9px auto 0;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  background-image: none;
  font-weight: 700;
  margin: 45px auto 0;
  padding: 8px 28px 8px 27px;
}

.u-section-2 .u-btn-2 {
  --radius: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 45px;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 167px;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 1rem;
  margin: 63px auto 60px;
  padding: 6px 31px 6px 30px;
}